.git/
# Other
source/

# Binaries
bin/
**/bin/
!Vendor/bin/premake/
vendor/glfw-bin/
vendor/glad
vendor/glfw-3.3.8.bin.WIN64
bin-int/
engine/build/
app/build/

# Visual Studio files and folder
#.vscode/
.vs/
#**.sln
#**.vcxproj
#**.vcxproj.filters
#**.vcxproj.user

#premake5
premake5.lua
GenerateProjects.bat

#Generated default c ingnore files
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

